*{
 margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    list-style: none;
    text-decoration: none;
font-family: 'Bakbak One', cursive;
font-family: 'Coda Caption', sans-serif;
font-family: 'Days One', sans-serif;
font-family: 'M PLUS 1', sans-serif;
font-family: 'Poppins', sans-serif;
}

body{
    background: #1f242d;
    color: #fff;
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
}

header{
    min-height: 25px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.container-inner{
    margin: 0 auto;
    width: 100%;
}

.container a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.container a:hover,
.container .active{
    color: #0ef;
}

.container{
    margin-left: 690px;
    max-width: 1350px;
    position: relative;
    display: flex;
    grid-auto-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.container-inner{
    max-width: 1000px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    z-index: 9;
    transition: 0.7s;
    color: #fff;
}

.container-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container ul{
    width: 100%;
    margin: 0 1em;
}

.container ul:nth-child(2){
    text-align: right;
}

.container ul li{
    display: inline-block;
    margin: 0 0.7em;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    font-weight: 600;
    color: #fff;
}

nav a:hover{
    color: #0ef;
}

.input-warp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

form{
    z-index: 2;
}

form input,
form button{
    background: none;
    border: none;
    color: #fff;
}

form button{
    cursor: pointer;
}

form input::placeholder{
    color: #fff;
}

form input:focus{
    outline: none;
}

#menu-btn{
    display: none;
    font-size: 30px;
    border: 1px solid #0ef;
    padding: 5px;
    color: #0ef;
}

.fa-bars{
    margin-right: 600px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-align: right;
}

#menu-btn:hover{
    color: #1f242d;
    background-color: #0ef;
}

.menu{
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 0;
    opacity: 0;
    transition: 0.7s cubic-bezier(.74,-0.03,.83,.67);
    overflow: hidden;
}

.logo{
    width: 250px;
    height: 250px;
}

.menu ul, .menu form{
    margin: 1em auto;
}

.menu li{
    margin: 1em 0;
}

.menu > div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6em 1em 3em 1em;
    height: 100%;
    overflow-y: scroll;
}

.menu > div::-webkit-scrollbar{
    display: none;
}

.menu .social-media{
    margin: 2em 0;
}

.social-media li{
    display: inline-block;
    margin: 0 0.5em;
}

/*Classes for javascript */

.menu-open{
    height: 100vh;
    opacity: 1;
}

.navbar-active{
    background: #111;
    padding: 1em;
}

@media screen and (max-width: 800px) {
    .container-inner{
        display: none;
    }
}





@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color:#fff;
}

.content , .container2{
    margin-top: 30px;
}

.contact .content p{
    font-weight: 300;color: #fff;
}

.container2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container2 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container2 .contactInfo .box1{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container2 .contactInfo .box1 .icon{
    color: #1f242f;
    min-width: 60px;
    height: 60px;
    background: #0ef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i))
}

.container2 .contactInfo .box1 .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container2 .contactInfo .box1 .text h3{
    font-weight: 500;
    color: #45f3ff;
}

.box{
    position: relative;
    width: 750px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
}

.box:before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 750px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box:after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 750px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.form{
    position: absolute;
    inset:2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2{
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputBox{
    margin-left: 38px;
    position: relative;
    width: 500px;
    margin-top: 35px;
}

.inputBox textarea,
.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05s;
    transition: 0.5;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #45f3ff;
    transform: translateX(0px)translateY(-34px);
    font-size: 0.75em;
}

.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span{
    color: #45f3ff;
    transform: translateX(0px)translateY(-25px);
    font-size: 0.75em;
}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
    height: 44px;
}

.inputBox textarea:valid ~ i,
.inputBox textarea:focus ~ i{
    height: 59px;
}

input[type="submit"]{
    margin-left: 38px;
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 500px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:active{
    opacity: 0.8;
}

.froter{
    color: #C0C0C0;
    font-style: italic;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    background: black;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 20px;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 15px 15px 30px 0;
    transition: 0.5s ease;
}

.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

/*telefon görünümü */

@media only screen and (max-width:768px){
        
    #menu-btn{
        display: block;
        margin-left: -400px;
}
    
    .box{
        position: absolute;
        width: 350px;
        margin-top: 1000px;
    }
    
    input[type="submit"]{
        width: 300px;
        margin-left: -14px;
    }
    
    .inputBox{
        width: 300px;
        margin-left: -14px;
    }
    
    .box1 .text{
        white-space: nowrap;
        
    }
    .contactInfo{
        margin-right: 220px;
    }
    
    .content{
        margin-top: -600px;
        padding-bottom: 50px;
    }
    
    .contact{
        height: 200vh;
    }
    
    .froter{
        bottom: 0;
        
        
    }
}
