*{
 margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
font-family: 'Bakbak One', cursive;
font-family: 'Coda Caption', sans-serif;
font-family: 'Days One', sans-serif;
font-family: 'M PLUS 1', sans-serif;
font-family: 'Poppins', sans-serif;
}

.content{
    display: none;
}

body{
    background: #1f242d;
    color: #fff;
}

ul{
    list-style-type: none;
    padding: 0;
}

header{
    min-height: 25px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.container-inner{
    margin: 0 auto;
    width: 100%;
}

.container a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.container a:hover,
.container .active{
    color: #0ef;
}

.active{
    color: #0ef;
}

.container{
    margin-left: 690px;
    max-width: 1350px;
    position: relative;
    display: flex;
    grid-auto-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.container-inner{
    max-width: 1000px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    z-index: 9;
    transition: 0.7s;
    color: #fff;
}

.container-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container ul{
    width: 100%;
    margin: 0 1em;
}

.container ul:nth-child(2){
    text-align: right;
}

.container ul li{
    display: inline-block;
    margin: 0 0.7em;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    font-weight: 600;
    color: #fff;
}

nav a:hover{
    color: #0ef;
}

.input-warp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

form{
    z-index: 2;
}

form input,
form button{
    background: none;
    border: none;
    color: #fff;
}

form button{
    cursor: pointer;
}

form input::placeholder{
    color: #fff;
}

form input:focus{
    outline: none;
}

#menu-btn{
    display: none;
    font-size: 30px;
    border: 1px solid #0ef;
    padding: 5px;
    color: #0ef;
}

.fa-bars{
    margin-right: 600px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-align: right;
}

#menu-btn:hover{
    color: #1f242d;
    background-color: #0ef;
}

.menu{
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 0;
    opacity: 0;
    transition: 0.7s cubic-bezier(.74,-0.03,.83,.67);
    overflow: hidden;
}

.logo{
    width: 250px;
    height: 250px;
}

.menu ul, .menu form{
    margin: 1em auto;
}

.menu li{
    margin: 1em 0;
}

.menu > div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6em 1em 3em 1em;
    height: 100%;
    overflow-y: scroll;
}

.menu > div::-webkit-scrollbar{
    display: none;
}

.menu .social-media{
    margin: 2em 0;
}

.social-media li{
    display: inline-block;
    margin: 0 0.5em;
}

/*Classes for javascript */

.menu-open{
    height: 100vh;
    opacity: 1;
}

.navbar-active{
    background: #111;
    padding: 1em;
}

@media screen and (max-width: 800px) {
    .container-inner{
        display: none;
    }
}

.png{
    width: 500px;
    height: 450px;
}



.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3:nth-last-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3 span{
    color: #0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s,3s;
}

.home-img img{
    max-width: 450px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 20px;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242f;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2s;
}

.froter{
    color: #C0C0C0;
    font-style: italic;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
    font-size: 18px;
    background: black;
}

.content{
    justify-content: center;
    align-items: center;
}

.loader{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: 318px;

}

.ring{
    width: 200px;
    height: 200px;
    border: 0px solid white;
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1){
    border-bottom-width: 8px;
    border-color: rgb(255, 0, 255);
    animation: rotate1 2s linear infinite;
}

.ring:nth-child(2){
    border-right-width: 8px;
    border-color: rgb(0, 247, 255);
    animation: rotate2 2s linear infinite;
}

.ring:nth-child(3){
    border-top-width: 8px;
    border-color: rgb(0, 255, 13);
    animation: rotate3 2s linear infinite;
}

@keyframes rotate1{
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);

    }
}

@keyframes rotate2{
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);

    }
}

@keyframes rotate3{
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);

    }
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    
    100%{
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    
    50%{
        transform: translateY(-24px);
    }
    
    100% {
        transform: translateY(0);
    }
}

/*telefon görünümü */

@media only screen and (max-width:768px){
    
    #menu-btn{
        display: block;
        margin-left: -400px;
}
    
    .home-img{
        display: none;
    }
    
    .navbar a{margin-left: 15px;}
    
    .ring{
        width: 100px;
        height: 100px;
    }
    
    
    
    }